<section id="section6" class="cd-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <footer class="box-content">
                    <div class="footer-social">
                        <a href="https://linkedin.com/in/dannibla" title="linkedin.com/dannibla" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/dannibla" title="github.com/dannibla" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://codepen.io/dannibla" title="codepen.io/dannibla" target="_blank"><i class="fa fa-codepen"></i></a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>